html,
body {
  background-color: #915751;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  width: auto;
  background-color: #f2c096;
}

.main:first-child {
  margin: 0 5em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}